.TechDetails{
    width: 100vw;
    height: 792px;
    background-color: #4D4134;
    margin-top: auto;
    position: relative;
    overflow: hidden;
    left:180px;
    z-index:-1;
}

.watch-image {
        height: 100%;
        position: absolute;
        bottom: -12%;
        right: 0;
        transform: scale(1.2);
        z-index: 9;
}

.specification{
    z-index: 100;
    position: absolute;
    color: #E3DBD5;
font-family: Degular Demo;
font-size: 23.77px;
font-style: normal;
font-weight: 400;
line-height: 35.655px; 
text-transform: uppercase;
bottom: 10%;
    left: 5%;
}

.specification .subHeading{
    list-style: none;
    text-decoration: none;
}

.specification > ul > li > ul >li{
    list-style: circle;
}

.FooterMenu{
    background: #7F685C;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.FooterMenu .menu {
    color: #57463E;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-transform: uppercase;
cursor: pointer;
}

.help-section {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.help-section button {
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 12px;
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    z-index:101;
    font-family: Degular Demo;
    border-radius: 25px;
    padding: 15px 20px;
}


@media only screen and (max-width: 600px) {
    .watch-image {
        max-width: 80%; 
    }

    .specification {
        font-size: 18px;
        line-height: 26px;
    }

    .FooterMenu .menu {
        font-size: 24px;
        line-height: 18px;
    }
}

